In [1]:
false_true ='ny'
print(f'{false_true[False]=}')
print(f"{false_true[True]=}")

false_true ='disagree','agree'
print(f"{type(false_true)=}")
print(f"{false_true[False]=}")
print(f"{false_true[True]=}")

false_true[False]='n'
false_true[True]='y'
type(false_true)=<class 'tuple'>
false_true[False]='disagree'
false_true[True]='agree'

In [26]:
fruits1= ['lime','pear','cherry','grape','orange']
fruits2= ('lime','pear','cherry','grape','orange')

#start:stop:step
print(fruits1[-1:1:-1])

x=slice(-1,1,-1)
print(fruits2[x])

#lime , cherry , orange
x=slice(0,6,2)
print(fruits2[x])

#lime , pear, cherry
x=slice(0,3,1)
print(fruits2[x])

#lime , cherry
x=slice(0,3,2)
print(fruits2[x])

#grape, orange
x=slice(3,5,1)
print(fruits2[x])


#reversed
x=slice(None,None,-1)
print(fruits2[x])

# same
x=slice(None,None,1)
print(fruits2[x])

['orange', 'grape', 'cherry']
('orange', 'grape', 'cherry')
('lime', 'cherry', 'orange')
('lime', 'pear', 'cherry')
('lime', 'cherry')
('grape', 'orange')
('orange', 'grape', 'cherry', 'pear', 'lime')
('lime', 'pear', 'cherry', 'grape', 'orange')

In [35]:
fruits1= ['lime','pear','cherry','grape','orange']  #mutable
fruits2= ('lime','pear','cherry','grape','orange')  #immutable
fruits3= ('lime',['pear'],'cherry','grape','orange') #immutable but have list inside


#change pear to apple
fruits1[1]='apple'
print(fruits1)

#fruits2[1]='apple'  #we cannot update tuple
#print(fruits2)

fruits3[1][0]='apple'
print(fruits3)

#change 'cherry' and 'orange' to 'guava' and 'avacado'
fruits1[2:4]=['guava','avacado']
print(fruits1)

['lime', 'apple', 'cherry', 'grape', 'orange']
('lime', ['apple'], 'cherry', 'grape', 'orange')
['lime', 'apple', 'guava', 'avacado', 'orange']

In [40]:
#pack
class_enroll1 = ('Python', 25)
class_enroll2 = 'Python' , 25
print(class_enroll1, class_enroll2)

#unpack
course_name, student_count = class_enroll1
print(course_name, student_count)

('Python', 25) ('Python', 25)
Python 25

In [47]:
#pack
class_enroll1 = ['Python', 25]
class_enroll2 = 'Java' , 30
print(class_enroll1, class_enroll2)

#unpack
course_name1, student_count1 = class_enroll1
course_name2, student_count2 = class_enroll2
print(course_name1, student_count1)
print(course_name2, student_count2)

['Python', 25] ('Java', 30)
Python 25
Java 30

In [46]:
#swap
a , b =10,20
print(a,b)
a,b = b,a
print(a,b)

#swap
a , b , c =10,20,30
print(a,b,c)
a,b,c = b,c,a
print(a,b,c)

10 20
20 10
10 20 30
20 30 10

In [48]:
a, b, *c , d = p =[1,2,3,4,5,6]
print(f'{a=} {b=} {c=} {d=},{p}')
a, b, *c , d = p ='123456'
print(f'{a=} {b=} {c=} {d=},{p}')

a=1 b=2 c=[3, 4, 5] d=6,[1, 2, 3, 4, 5, 6]
a='1' b='2' c=['3', '4', '5'] d='6',123456

In [50]:
#compare a<2 and a>-2
a=1
print(-2 < a < 2)

True