In [ ]:
empty_list = []
empty_list2= list()

In [ ]:
print(empty_list, empty_list2)

[] []

In [ ]:
print(temps := [48.0, 30.5, 20.3, 100.0, 42.0])

[48.0, 30.5, 20.3, 100.0, 42.0]

In [ ]:
print(["Devara", 2024, 500.00])

['Devara', 2024, 500.0]

In [ ]:
print(list("abc"))

['a', 'b', 'c']

In [ ]:
for c in 'abc':
  print(c)

a
b
c

In [ ]:
list("Hello world")

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
print(list(['a', 'b','c',])) #list from a list

['a', 'b', 'c']

In [ ]:
print(list(('a', 'b','c',))) #list from tuple

['a', 'b', 'c']

In [ ]:
print(list({'a':1, 'b':2,'c':3,})) #list from dictonary

['a', 'b', 'c']

In [ ]:
print([1,2] + ['a','b','c',]) #concatinate

[1, 2, 'a', 'b', 'c']

In [ ]:
print([1,2] * 3) #repeat

[1, 2, 1, 2, 1, 2]

In [ ]:
print([[1,2]] * 3) #list of list

[[1, 2], [1, 2], [1, 2]]

In [ ]:
students = [['Sam', 85,95,70],
            ['Sai',100, 99, 98],
            ['Teja',100,100,99]]
print(len(students))

3

In [ ]:
print(students[1])
print(students[2][1])

['Sai', 100, 99, 98]
100

In [ ]:
inventory = ["staff", "hat", "shoes", "bread"]
print(f'{inventory=}')

inventory=['staff', 'hat', 'shoes', 'bread']

In [ ]:
print('After append("portion"):',f'{inventory.append("portion")}',f'{inventory = }') #changed in place

After append("portion"): None inventory = ['staff', 'hat', 'shoes', 'bread', 'portion']

In [ ]:
print(inventory)

['staff', 'hat', 'shoes', 'bread', 'portion']

In [ ]:
help(list.append)

Help on method_descriptor:

append(self, object, /) unbound builtins.list method
    Append object to the end of the list.

In [ ]:
print('After inert("robe"):',f'{inventory.insert(3,"robe")}')

After inert("robe"): None

In [ ]:
print(inventory)

['staff', 'hat', 'shoes', 'robe', 'bread', 'portion']

In [ ]:
inventory.remove("shoes")

In [ ]:
print(inventory)

['staff', 'hat', 'robe', 'bread', 'portion']

In [ ]:
inventory.pop(4)

'portion'

In [ ]:
print(inventory)

['staff', 'hat', 'robe', 'bread']

In [ ]:
item=inventory.pop(1)

In [ ]:
print(item)

hat

In [ ]:
inventory.pop(1)
print('After pop(last_item):',item, inventory)

After pop(last_item): hat ['robe']

In [ ]:
inventory1 = ["chickem","mutton","prawns","fish","dal","curd"]

del inventory1[1]

In [ ]:
print(inventory1)

['chickem', 'prawns', 'fish', 'dal', 'curd']

In [ ]:
names = ["Lizzy", "Mike", "Joel", "Anne", "Donald Duck"]

In [ ]:
ages = [22, 35, 24, 17, 28]

In [ ]:
mylist = list(range(50))

In [ ]:
print(mylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [ ]:
inventory1 = ["chickem","mutton","prawns","fish","dal","curd"]
del inventory1[:]
print('After inventory:', inventory1)

inventory1 = ["chickem","mutton","prawns","fish","dal","curd"]
del inventory1[1]
print('After inventory:', inventory1)

inventory1 = ["chickem","mutton","prawns","fish","dal","curd"]
inventory1.clear()
print('After inventory:', inventory1)

After inventory: []
After inventory: ['chickem', 'prawns', 'fish', 'dal', 'curd']
After inventory: []

In [ ]:
list1=['H','i']
list2=[',','m','l','l']
print(f'{list1=} \n{list2=}')
list1.append(list2)
print('After list1.append(list2): \n',f'{list1=} \n{list2= }\n')

list1=['H', 'i']
list2=[',', 'm', 'l', 'l']
After list1.append(list2):
 list1=['H', 'i', [',', 'm', 'l', 'l']]
list2= [',', 'm', 'l', 'l']

In [ ]:
list1=['H','i']
list2=[',','m','l','l']
print(f'{list1 = } \n{list2 =}')
list1.extend(list2)
print('After list1.extend(list2): \n',f'{list1=} \n{list2= }\n')

list1 = ['H', 'i']
list2 =[',', 'm', 'l', 'l']
After list1.extend(list2):
 list1=['H', 'i', ',', 'm', 'l', 'l']
list2= [',', 'm', 'l', 'l']

In [ ]:
list1=['H','i']
list2=[',','m','l','l']
print(f'{list1 = } \n{list2 =}')
list1 += list2
print('After list1+list2: \n',f'{list1=} \n{list2= }\n')

list1 = ['H', 'i']
list2 =[',', 'm', 'l', 'l']
After list1+list2:
 list1=['H', 'i', ',', 'm', 'l', 'l']
list2= [',', 'm', 'l', 'l']

In [ ]:
nums = [6,8,2,3,5]
print(f'{nums = }')
print(f'{nums.reverse()}')
print(f'{nums = } changed in place {type(nums) = }')

In [ ]:
nums = [6,8,2,3,5]
print(f'{nums = }')
print(f'{nums.reverse()}')
print(f'{nums = } changed in place {type(nums) = }')
print('\nIterate the nums')
for n in nums:
  print(n, end=' ')
print("\nIterate the nums again.")
for n in nums:
  print(n, end=' ')

nums = [6, 8, 2, 3, 5]
None
nums = [5, 3, 2, 8, 6] changed in place type(nums) = <class 'list'>

Iterate the nums
5 3 2 8 6
Iterate the nums again.
5 3 2 8 6

In [ ]:
nums = [6,8,2,3,5]
print(f'{nums = }')
reverse_nums = reversed(nums)
print(f'{reverse_nums = }')
print(f'{nums = } changed in place {type(nums) = }')
print('\nIterate the nums')
for n in nums:
  print(n, end=' ')
print("\nIterate the nums again.")
for n in nums:
  print(n, end=' ')

nums = [6, 8, 2, 3, 5]
reverse_nums = <list_reverseiterator object at 0x7971608c3a90>
nums = [6, 8, 2, 3, 5] changed in place type(nums) = <class 'list'>

Iterate the nums
6 8 2 3 5
Iterate the nums again.
6 8 2 3 5

In [ ]:
nums = [6,8,2,3,5]
print(f'{nums = }')
reverse_nums = reversed(nums)
print(f'{reverse_nums = } ',{type(reverse_nums)})

nums = [6, 8, 2, 3, 5]
reverse_nums = <list_reverseiterator object at 0x797160493790>  {<class 'list_reverseiterator'>}

In [ ]:
#list.sort
nums = [6,8,2,3,5]
print(f'{nums = }')
print(f'{nums.sort()}')   #ascending order
print(f'{nums = } changed in place {type(nums) = }')

nums = [6,8,2,3,5]
print(f'{nums = }')
print(f'{nums.sort(reverse=True)}')
print(f'{nums = } changed in place {type(nums) = }')

nums = [6, 8, 2, 3, 5]
None
nums = [2, 3, 5, 6, 8] changed in place type(nums) = <class 'list'>
nums = [6, 8, 2, 3, 5]
None
nums = [8, 6, 5, 3, 2] changed in place type(nums) = <class 'list'>

In [ ]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False) unbound builtins.list method
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [ ]:
nums = [6,8,2,3,5]
print(f'{nums = }')
sorted_nums= sorted(nums, reverse=True)
print(f'{sorted_nums = },{type(sorted_nums)}')
#print(f'{nums = } changed in place {type(nums) = }')

nums = [6, 8, 2, 3, 5]
sorted_nums = [8, 6, 5, 3, 2],<class 'list'>
nums = [6, 8, 2, 3, 5] changed in place type(nums) = <class 'list'>

In [ ]:
courses = ['History' , 'Math', 'Physics','Computer Science']
print(courses)

['History', 'Math', 'Physics', 'Computer Science']

In [ ]:
help(str.join)

Help on method_descriptor:

join(self, iterable, /) unbound builtins.str method
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [ ]:
print("|".join(str(x) for x in courses))

History|Math|Physics|Computer Science

In [ ]:
course_str = "|".join(courses)
print(course_str)
course_list = course_str.split("|")
print(course_list)

History|Math|Physics|Computer Science
['History', 'Math', 'Physics', 'Computer Science']

In [ ]:
trip = "{:15}{:15}{:15}\n".format("Distance","Gallons","MPG")
print(trip)

print(trip.split())

print(trip.split(maxsplit=1))

Distance       Gallons        MPG

['Distance', 'Gallons', 'MPG']
['Distance', 'Gallons        MPG            \n']