In [1]:
empty_tuple1=()
empty_tuple2= tuple()
print(empty_tuple1)
print(empty_tuple2)

print(type(empty_tuple1))
print(type(empty_tuple2))

()
()
<class 'tuple'>
<class 'tuple'>

In [5]:
print(type((78,)), type((78)))

v1=78,

v2=78

print(type(v1))
print(type(v2))

<class 'tuple'> <class 'int'>
<class 'tuple'>
<class 'int'>

In [15]:
students = (('Sam', 85,95,70),
            ('Sai',100, 99, 98),
            ('Teja',100,100,99))

print(len(students))

print(students[1], students[-2])

print(students[2])

print(students[2][1])

3
('Sai', 100, 99, 98) ('Sai', 100, 99, 98)
('Teja', 100, 100, 99)
100

In [21]:
score = (100,)*3
print(score)

score *=2
print(score)
print((1,2) +('a',))
#print((1,2)+('a'))  #type error

(100, 100, 100)
(100, 100, 100, 100, 100, 100)
(1, 2, 'a')

In [24]:
list1, list2, list3 = [2,1],[2,1,4],[]
tuple1, tuple2, tuple3=(2,1),(2,1,4),()

print(min(list1), min(list2,list3))
print(min(tuple1), min(tuple2,tuple3))

print(max(list1), max(list2 , list3))
print(max(tuple1), max(tuple2 , tuple3))

1 []
1 ()
2 [2, 1, 4]
2 (2, 1, 4)